*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #1C7430;
}

#root {
  
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  
}

.game {
  width: 80%;
  margin: 30px auto;
}

.board {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.board img {
  max-width: 90%;
  max-height: 90%;
  /* margin: 20px; */
}

.img-container {
  flex: 1 1 15%;
  /* width: 106px; */
  height: 180px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  opacity: 0.8;
  font-family: OpenSans-Semibold;
  font-size: 20px;
  color: #FFFFFF;
  /* letter-spacing: -0.25px; */
}

.start-div, .game-over-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-div *, .game-over-div * {
  margin-bottom: 20px; 
}

.start-div span, .game-over-div p {
 color: white;
 font-size: 28px;
}

.start-div, .game-over-div {
  font-family: OpenSans-Bold;
  color: #1C7430;
  letter-spacing: 0;
}

.start-div button, .game-over-div button {
  font-size: 16px;
  width: 30%;
  opacity: 0.85;
  background: #FFFFFF;
  border-radius: 4px;
  height: 30px;
  
}